.App{
 background-image: url('https://imgur.com/8mLCzHR.jpg') ;
  
  background-size: 100%
}

.board{
  padding-left: 75vmin;
}

.message{
  padding-left: 100vmin;
  
}

.square{
  height: 20vmin;
  width: 20vmin;
  border: solid black 4px;
  background-color:rgba(0, 0, 0, 0.5);
  
  
}

.square:hover{
  background-color: lightgreen;
  transform: scale(1.1);
}




.App-header{
  padding-left: 93vmin;
  font-size: 50px;
}

.play-button{
 margin: 20px 1px 300px 98vmin;
  width: 15vmin;
  
}